<!DOCTYPE html>

<html ng-app="app">

<head>
  <title> Some page</title>
  <link rel="stylesheet" href="dist/css/main.css">
</head>

<body>
  <script src="/dist/lib/index.js"></script>
  <script src="/dist/js/index.js"></script>
  
  <div ng-controller="test">{{event}}</div>
  <h2 class="testing">Hello World!!</h2>
</body>


</html>